<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="first">
    <form method="post">
        <h3>Конвертер</h3>
        <table width="60%" cellspacing="20" align="center"
               bordercolor="#000" border="0">
            <tr>
                <td width="25%">
                    <select class="ten" name="valuteFrom">
                        <option th:each="valute : ${valutes}"
                                th:value="${valute.getCharCode()}"
                                th:text="${valute.getCharCode() + '(' + valute.getName() + ')'}">
                        </option>
                    </select>
                </td>
                <td width="25%">
                    <select class="ten" name="valuteTo">
                        <option th:each="valute : ${valutes}"
                                th:value="${valute.getCharCode()}"
                                th:text="${valute.getCharCode() + '(' + valute.getName() + ')'}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td width="25%">
                    <input type="text" name="quantity" th:value="${quantity}">
                </td>
                <td class="out2" bgcolor="#FFFFFF" bordercolor="#000">
                    <output th:text="${result}"></output>
                </td>
            </tr>
        </table>
        <p>
            <button class="ten" type="submit">Конвертировать</button>
        </p>
    </form>
</div>
<div>
    <table width="80%" cellspacing="0" align="center" border="1">
        <tr>
            <td>Исходная валюта</td>
            <td>Целевая валюта</td>
            <td>Исходная сумма</td>
            <td>Получаемая сумма</td>
            <td>Дата</td>
        </tr>
        <tr th:each="history : ${histories}">
            <td th:text="${history.getValuteFrom()}"></td>
            <td th:text="${history.getValuteTo()}"></td>
            <td th:text="${history.getQuantity()}"></td>
            <td th:text="${history.getResult()}"></td>
            <td th:text="${history.getDate()}"></td>
        </tr>
    </table>
</div>
</body>
</html>

<style>
    body {
        padding: 30px;
        text-align: center;
        background-color: #f3f3f3;
    }

    .out2 {
        border: 1px solid #767676
    }

    .first {
        width: 60%;
        margin: 0 20% 0 20%;
    }

    .first_one {
        width: 30%;
        margin-right: auto;
    }

    .ten {
        box-shadow: inset 0px -2px 4px 0px #ccc;
    }

</style>
